// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-title {
    &:hover {
        text-decoration: none;
    }

    &::first-letter {
        margin-right: 3px;
        padding: 0 0.25em;
        border-radius: 3px;
        border: 2px solid #000
    }
}

.post-header {
    text-align: left;
    border: none;
}



.post-title {
    @include relative-font-size(1.625);
    margin-bottom: 0;
}
.post-subtitle {
    @include relative-font-size(1.625);
    color: #747474;
    margin-bottom: 10px;
}

.post-content h1 {
    @include relative-font-size(1.625);
    font-weight: bold;
}

img {
    border: 1px solid #E7E7E7;
}

img+em {
    display: block;
    font-size: $base-font-size * 0.8;
}


blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    @include relative-font-size(1.125);
    font-style: italic;
    font-family: KaTeX_Math;

    > :before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    i,
    em {
        font-style: normal;
    }

    p {
        display: inline;
    }
}