// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    color: #222;
}

.site-title {
    letter-spacing: normal;

    &:hover {
        text-decoration: none;
    }

    &::first-letter {
        margin-right: 3px;
        padding: 0 0.375em;
        border-radius: 3px;
        border: 2.5px solid #1D4ED8;
        font-weight: bold;
        color: #1D4ED8;
    }
}

.site-header {
    z-index: 101;
}

.post-header {
    text-align: left;
    border: none;
}

.post-title {
    @include relative-font-size(2);
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    letter-spacing: -1px;
    margin-bottom: 0.125em;
    color: #000;
}

.post-subtitle {
    @include relative-font-size(1.50);
    margin-bottom: 0.125em;
    line-height: 1.15;
    display: block;
    border-bottom: 1px dotted #222;
    padding-bottom: 0.5em;
}

.post-meta {
    margin-top: 0.25em;
    .bullet-divider {
        padding-inline: 0;
    }
}

.post-content h1 {
    @include relative-font-size(1.125);
    font-weight: bold;
    letter-spacing: normal;
    margin-top: 50px;
    text-transform: uppercase;
}

.post-content {
    hyphens: auto;
    margin-top: 50px;
}

img {
    border: 1px solid #E7E7E7;
    padding-left: auto;
    padding-right: auto;
    display: block;
}

img+em {
    display: block;
    font-size: $base-font-size * 0.8;
}


blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em;
    padding: 0.5em 10px;
    @include relative-font-size(1.125);
    font-style: italic;
    font-family: KaTeX_Math;

    > :before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    i,
    em {
        font-style: normal;
    }

}

hr {
    border: none;
    border-top: 1px dotted #222;
}

details {
    border: 1px solid #E7E7E7;
    padding: 1rem;
    margin-bottom: $spacing-unit;

    summary {
        font-weight: bold;
        cursor: pointer;
    }

}

code {
    border: 0;
}

.post a {
    background-color: #e1f1fd;
    border: 0;
    color: #1D4ED8;
    text-underline-offset: 4px;
    padding: 2px;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid #1D4ED8 ;
    }

    /*
    &:visited {
        color: #4B0082;
        background-color: #F5F3FE   ;
        border-bottom: 1px solid #4B0082 ;
    }
        */

}

table td {
    vertical-align: top;
}